includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 5
	bootstrapFiles:
		- %currentWorkingDirectory%/phpstan-stubs/ComposerScriptEvent.stub.php
	paths:
		- %currentWorkingDirectory%/src